doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css')
  body
    nav.navbar.bg-primary.navbar-dark
      .container
        a.navbar-brand(href='#')
          i.fa.d-inline.fa-lg.fa-circle
          b  TASKILI
    .py-3(style='')
      .container
        .row
          .col-md-12
            h1= args.workgroup.title
        .row
          .col-md-12
            p.lead Challenge:  
              span=args.workgroup.penality
        .row
          .col-md-12.text-right.py-2(style='')
            .btn-group
              a.btn.btn-success.mx-2(href='#', data-toggle='modal', data-target='#participantsModal')
                i.fa.fa-user.fa-fw.fa-lg.my-2
                | Members
              a.btn.btn-primary.py-2(href='#', data-toggle='modal', data-target='#createWorkgroupModal') Add Task

        .row
          .col-md-12
            each task in args.tasks
              .card.m-1(style='')
                .card-header.p-1
                  button.close(type='button', data-dismiss='modal')
                    span(style='') ×
                .card-body.p-2
                  h4= task.libelle
                  h6.text-muted Deadline: 
                    span= task.deadline
                  p= task.description


    #createWorkgroupModal.modal
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Create task
            button.close(type='button', data-dismiss='modal')
              span ×
          .modal-body.p-3
            .row
              .col-md-12(style='')
                .row
                  .form-group.w-100
                    label(for='form16') Title
                    input#taskTitle.form-control.text-primary(type='text', placeholder='Title')
                .row
                  .form-group.w-100
                    label(for='form16') Description
                    input#taskDescription.form-control.text-primary(type='text', placeholder='Description')
                .row
                  .form-group.w-100
                    label(for='form16') Deadline
                    input#taskDeadline.form-control.text-primary(type='date', placeholder='Deadline')
          .modal-footer
            button#createTask.btn.btn-primary(type='button') Create
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
  #participantsModal.modal
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Members
          button.close(type='button', data-dismiss='modal')
            span ×
        .modal-body.py-2
          .row
            .col-md-12(style='')
              .row.py-2
                .col-lg-12.px-4.px-md-0
                  .row
                    .col-md-12
                      p.lead Judge
                  if args.workgroup.judge
                    .row.border-top.border-bottom.py-2
                      .col-3.d-flex.flex-column.justify-content-center
                        img.img-fluid.d-block.mx-auto.rounded-circle(src='/img/man.png', width='150', alt='Card image cap')
                      .col-9.d-flex.flex-column.justify-content-center
                        h5
                          b= args.workgroup.judge.username
                    
                  else
                    .row.border-top.border-bottom.py-2
                      .col-9.d-flex.flex-column.justify-content-center
                        h5
                          b Not exists yet!


          .row
            .col-md-12(style='')
              .row.py-0
                .col-lg-12.px-4.px-md-0
                  .row
                    .col-md-12.p-0
                      p.lead.py-2 Participants
                  .row
                    .col-md-12.text-right.p-0
                      form.form-inline
                        .input-group
                          input.form-control.m-2(type='email', placeholder='Name of participant')
                          .input-group-append
                            a.btn.btn-danger.m-2(href='#', style='	border-top-left-radius: 200px;	border-top-right-radius: 200px;	border-bottom-left-radius: 200px;	border-bottom-right-radius: 200px;')
                              i.fa.fa-fw.fa-plus
                  each user in args.workgroup.users            
                    .row.border-top.border-bottom.py-2
                      .col-3.d-flex.flex-column.justify-content-center.col-md-4
                        img.img-fluid.d-block.mx-auto.rounded-circle(src='/img/man.png', width='150', alt='Card image cap')
                      .d-flex.flex-column.justify-content-center.col-7.col-md-4
                        h5
                          b= user.username
                      if (!args.workgroup.judge)
                        .d-flex.flex-column.justify-content-center.col-2.p-0.m-0
                          a.btn.btn-success.add-judge(href='#', id= user._id, style='	border-top-left-radius: 200px;	border-top-right-radius: 200px;	border-bottom-left-radius: 200px;	border-bottom-right-radius: 200px;')
                            i.fa.fa-fw.fa-gavel


    script.
      var args = !{JSON.stringify(args)}
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src='/js/workgroups_id.js')