doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/css/theme.css')
  body.bg-light
    nav.navbar.bg-primary.navbar-dark
      .container
        a.navbar-brand(href='#')
          i.fa.d-inline.fa-lg.fa-circle
          b  BRAND
    .h-100.py-1(style='')
      .container
        .row.py-2
          .col-md-6.text-center.d-flex.flex-row.align-items-center.justify-content-start.col-8.m-1.px-3
            h3.text-primary.my-1    
              b= args.workgroup.title
          .col-md-6.text-center.p-0.m-0.d-flex.flex-column.align-items-center.col-3.justify-content-center
            a.btn.btn-primary(href='#', style='	border-top-left-radius: 50px;	border-top-right-radius: 50px;	border-bottom-left-radius: 50px;	border-bottom-right-radius: 50px;', data-toggle='modal', data-target='#membersModal')
              | Members 
              i.fa.fa-users.fa-fw
        .row
          .col-md-12
            .card.mx-2(style='	box-shadow: 2px 2px 4px  #b9b9b9;')
              .card-header.bg-danger.py-0(style='opacity: .7;')
                h4.my-1.text-white.text-center Challenge
              .card-body.p-2
                p.m-0.text-center= args.workgroup.penality
        .row
          .col-md-12.d-flex.text-left.flex-column.align-items-start.justify-content-center.m-2
            h3.text-primary.d-flex.flex-column.align-items-end.justify-content-end.my-2
              b My Tasks
        if (args.tasks.length == 0)
          .ph-2.d-flex.flex-row.justify-content-center.align-items-center
            .container
              .row
                .col-md-12.d-flex.justify-content-center.align-items-center.flex-column
                  h5.text-muted There is no task

        each task in args.tasks
          .row.my-2
            .col-md-12.mx-2(style='')
              .card(style='	box-shadow: 1.5px 1.5px 5px  #b9b9b9;')
                .card-header.py-1
                  .row
                    .col-md-4.col-6.d-flex.flex-row.justify-content-center.align-items-center
                      h4.my-1= task.libelle
                    .col-md-4.p-0.d-flex.flex-column.justify-content-center.align-items-center.col-4
                      .progress.my-1.w-100
                        .progress-bar.m-0.progress-bar-striped.bg-success.w-25(role='progressbar', style='width:25%') 25%
                    .col-md-4.col-2.d-flex.flex-column.text-right.justify-content-center.align-items-end
                      button.close.text-center.d-flex.flex-column.justify-content-center.align-items-center.m-0(type='button', data-dismiss='modal')
                        span.text-center.d-flex.flex-column.justify-content-center.align-items-center.m-0(style='') ×
                .card-body.d-flex.flex-column.justify-content-center.align-items-start.p-2
                  h6.text-muted= task.deadline
                  p.m-0= task.description
        .row
          .col-md-12.py-2.text-left.h-100.d-flex.flex-column
            a.btn.btn-primary.btn-lg.fixed-bottom.m-3.w-25(href='#', data-toggle='modal', data-target='#createWorkgroupModal', style='	border-top-left-radius: 100px;	border-top-right-radius: 100px;	border-bottom-left-radius: 100px;	border-bottom-right-radius: 100px;')
              i.fa.fa-fw.fa-plus-circle
              |  Task
    #createWorkgroupModal.modal(aria-hidden='true', style='display: none;')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.bg-primary.py-2
            h5.modal-title.text-white Add Task
            button.close.text-white(type='button', data-dismiss='modal')
              span.text-white(style='') ×
          .modal-body.px-4
            .row
              .col-md-12(style='')
                .row
                  .form-group.w-100
                    label(for='form16') Title
                    input#taskTitle.form-control.text-primary(type='text', placeholder='Title')
                .row
                  .form-group.w-100
                    label(for='form16') Description
                    input#taskDescription.form-control.text-primary(type='text', placeholder='Description')
                .row
                  .form-group.w-100
                    label(for='form16') Deadline
                    input#taskDeadline.form-control.text-primary(type='date', placeholder='Deadline')
          .modal-footer
            button#createTask.btn.btn-primary.w-25(type='button') Add
    #membersModal.modal(style='display: none;', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.bg-primary.p-2
            h5.modal-title.text-white Members
            button.close.text-white(type='button', data-dismiss='modal')
              span.text-white(style='') ×
          .modal-body.py-2
            .row
              .col-md-12.my-2
                .card
                  .card-header.text-center.d-flex.flex-column.justify-content-center.align-items-center.p-1
                    h5.my-1 Judge
                  .card-body.p-0
                    .row.py-1
                      .col-lg-12.px-4.px-md-0
                        .row.py-2
                          .d-flex.flex-column.justify-content-center.col-md-12.align-items-center.w-100
                            h5.my-1
                              b Doesn't exists yet!
            .row
              .col-md-12.my-2
                .card
                  .card-body.p-0
                    .row.py-0
                      .col-lg-12.px-4.px-md-0
                        .row
                          .col-md-12.text-right.p-0.d-flex.flex-row.justify-content-center.align-items-center
                            form.form-inline.w-100.my-1
                              .input-group.d-flex.justify-content-center.align-items-center.flex-row
                                input.form-control.w-100.m-1(type='email', placeholder='Enter to add new participant')
                        each user in args.workgroup.users      
                          .row.border-top.border-bottom.py-2
                            .col-3.d-flex.flex-column.justify-content-center.col-md-4.align-items-center
                              img.img-fluid.d-block.mx-auto.rounded-circle(src='/img/man.png', width='150', alt='Card image cap')
                            .d-flex.flex-column.justify-content-center.col-7.col-md-4.align-items-start
                              h5
                                b= user.username
                            .d-flex.justify-content-center.col-2.flex-row.align-items-center
                              a.btn.m-2.btn-success.text-center.d-flex.flex-row.justify-content-center.align-items-center.btn-lg(href='#', style='	max-height: 40px;	max-width: 40px;	min-height: 40px;	min-width: 40px;	height: 40px;	width: 40px;')
                                i.fa.fa-balance-scale.fa-fw.my-1
    script.
      var args = !{JSON.stringify(args)}
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/js/workgroups_id.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')